@import "bourbon/bourbon";

$font-headline: "franklin-gothic-urw", helvetica, arial, sans-serif;
$font-body: "franklin-gothic-urw-cond", helvetica, arial, sans-serif;

$futura: "futura-pt", "Futura", helvetica, sans-serif;

$black: #282828;
$grey: #cccccc;
$red: #ff5548;
$green: #47f4b6;
$white: #fff;

$font-size: 40pt;
$line-height: 46pt;

* {
  margin: 0;
  padding: 0;
}

body {

  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

  background: $black;
  font-family: $font-body;
  font-size: $font-size;
  line-height: $line-height;
  color: $grey;
  padding: $font-size * 2;

  h1, h2, h3, h4, h5, h6 {
    font-size: $font-size;
    font-weight: 400;
    margin-bottom: $line-height;

    span.footnote {
      font-size: 45%;
      margin-left: $font-size / 8;
      opacity: 0.33;
    }

  }

  #headline {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: $black;

    padding: $line-height $font-size * 2;

    // font-family: $font-headline;
    box-shadow: 0 0 $font-size rgba(0, 0, 0, 0.5);

    & > * {
      @include inline-block;
    }

    #search {
      position: absolute;
      right: $font-size * 2;
    }

    input {
      position: relative;
      font-family: $font-body;
      color: $grey;
      background: transparent;
      border: 0;
      line-height: $font-size;
      vertical-align: middle;
      font-size: 45%;
      border-bottom: 2px solid $grey;
      outline: none;
      width: $font-size * 7;
      background: url(../images/search.svg) center right no-repeat;
      background-size: $font-size * 0.4;
      padding-right: $font-size / 2 + $font-size / 8;
      border-radius: 0;
    }

  }

  #content {

    position: relative;
    margin-top: $font-size * 4 - $font-size * 2 + $line-height - $font-size / 2;

    #list {
      display: block;
      margin-bottom: $line-height;
    }
    #message {
      display: none;
      margin-bottom: $line-height;
    }

    span.name {
      color: $green;
      text-transform: capitalize;
      margin-right: $font-size / 8;
    }

  }

  ul {

    list-style: none;
    margin-bottom: $line-height;

    li {

      display: none;
      text-transform: capitalize;

      &.active {
        @include inline-block;
      }

      &:after {
        content: " /";
        margin-right: $font-size / 8;
      }
    }

    a {
      text-decoration: none;
    }

    &#collaborators {
      li,
      li a {
        color: $red;
        &:hover {
          color: $white;
          &:after {
            color: $red;
          }
        }
      }
    }

    &#backers {

      li {
        color: $green;
        cursor: pointer;
        &:hover {
          color: $white;
          &:after {
            color: $green;
          }
        }
      }

    }

  }

  .signum {
    @include inline-block;
    margin-top: $font-size / 2;
    width: 64px;
    height: 72px;
    background: url(../images/signum.svg) center center no-repeat;
    background-size: contain;
  }

}

@media (max-width: 800px) {

  $font-size: $font-size / 2;
  $line-height: $line-height / 2;

  body {

    font-size: $font-size;
    line-height: $line-height;
    padding: $font-size * 2;

    h1, h2, h3, h4, h5, h6 {
      font-size: $font-size;
      margin-bottom: $line-height;
      span.footnote {
        margin-left: $font-size / 8;
      }
    }

    #headline {

      padding: $line-height $font-size * 2;

      box-shadow: 0 0 $font-size rgba(0, 0, 0, 0.5);

      #search {
        right: $font-size * 2;
      }

      input {
        line-height: $font-size;
        // font-size: $font-size / 2;
        width: $font-size * 4;
        background-size: $font-size * 0.4;
        padding-right: $font-size / 2 + $font-size / 8;
      }

    }

    #content {

      margin-top: $font-size * 4 - $font-size * 2 + $line-height - $font-size / 2;

      #list {
        margin-bottom: $line-height;
      }

      span.name {
        margin-right: $font-size / 8;
      }

    }

    ul {

      margin-bottom: $line-height;

      li {

        &:after {
          margin-right: $font-size / 8;
        }
      }

    }

  }

}

::selection {
  opacity: 1;
  background: $grey; /* WebKit/Blink Browsers */
  color: $black;
}
::-moz-selection {
  opacity: 1;
  background: $grey; /* Gecko Browsers */
  color: $black;
}

::-webkit-input-placeholder {
   color: $white;
   opacity: 0.33;
}

:-moz-placeholder { /* Firefox 18- */
   color: $white;  
   opacity: 0.33;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $white;  
   opacity: 0.33;
}

:-ms-input-placeholder {  
   color: $white;  
   opacity: 0.33;
}